{%- comment -%}
This snippet replaces the resource-template when a hidden resource is rendered
{%- endcomment -%}
<div class="shopify-section">
    <section class="Section" style="text-align:center;padding: 0 5em;margin: 40px 0;">
        <h3>Questa pagina è visibile soltanto agli utenti registrati.</h3>
        <p> Compila il <a href="https://pmcexy-6c.myshopify.com/pages/registrazione-clienti-business">form di registrazione</a> o 
  <a href="https://pmcexy-6c.myshopify.com/account/login">accedi</a> se sei già registrato per visualizzare il contenuto della pagina.</p>
    </section>
</div>
