
<div class="page-breadcrmbs">

  {% render 'breadcrumbs' %}
  
</div>





{% schema %}
{
  "name": "page-breadcrumbs",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "page-breadcrumbs"
    }
  ]
}
{% endschema %}




